doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='msapplication-tap-highlight', content='no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='Content-Type', content='text/html')
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
        title electron-template
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
    body
        div(ng-cloak='', ng-app='Application',ng-controller='Controller as ctrl')
            .row
                .col-xs-12
                    div(ui-ace="{useWrapMode : true,mode: 'html',onLoad: aceLoaded,onChange: aceChanged}")
            .row.message
                .col-xs-4
                    span {{theme}} / {{mode}} / {{source}}

    script(type='text/javascript', src='../bower_components/angular/angular.min.js')
    script(type="text/javascript", src='../bower_components/ace-builds/src-min/ace.js')
    script(type="text/javascript", src="../bower_components/ace-builds/src-min-noconflict/ext-language_tools.js")
    script(type="text/javascript", src='../bower_components/angular-ui-ace/ui-ace.min.js')
    script(type='text/javascript', src='../javascripts/application.js')
    script(type='text/javascript', src='../javascripts/controller.js')